	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Modules</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
					<li>Modules</li>
				</ul>
			</div>
			<div class="row">
				<!-- Your Profile Views Chart -->
				
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div >
							<a  href="/admin/add-course-module/<%= courseid %>" class="btn">Add Modules</a>
						</div>
						<div class="widget-inner">
							<table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Module Name</th>
                                    
                                    <th scope="col">Add Date</th>
                                    <th scope="col">Total Videos</th>
                                    
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% for( let i = 0; i < course.length; i++ ) { %>
                                    
                                    
                                  <tr>
                                    <th scope="row"><%= i+1 %> </th>
									<td><%= course[i].sectionTitle %> </td>
									<td><%=  course[i].created_At.toString().substring(0,15) %> </td>
									<td><a class="btn" href="/admin/view-module-videos/<%=courseid %>/<%= i %>">View videos</a> </td>
									<td><a href="/admin/edit-course-module/<%=courseid %>/<%= i %>  "><span class="fa fa-pencil-square-o"></span></a> <a href="/admin/delete-course-module/<%=courseid %>/<%=i %>"><span style="padding-left: 5px;" class="fa fa-trash"></span></a></td>
                                  </tr>
                                 
                                </tbody>
                                <% } %>
                              </table>
						</div>
					</div>
				</div>
				<!-- Your Profile Views Chart END-->
			</div>
		</div>
	</main>


	<div class="ttr-overlay"></div>
